{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2020",
    "transform": {
      "decoratorMetadata": true
    },
    "parser": {
      "syntax": "typescript",
      "dts": true
    }
  },
  "module": {
    "type": "commonjs"
  }
}
